<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="Steeltoe-ci" value="https://pkgs.dev.azure.com/dotnet/Steeltoe/_packaging/ci/nuget/v3/index.json" />
    <add key="local" value="dependencies" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="Steeltoe-ci">
      <package pattern="Steeltoe.*" />
    </packageSource>
    <packageSource key="local">
      <package pattern="Libraries.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
